.App {
  border: 1px solid red;
  width: 500px;
  height: 500px;
  margin: 100px auto;
  position: relative;
}

.Tank {
  width: 25px;
  height: 25px;
  background-color: rgb(16, 93, 16);
  position: absolute;
}

